.contactCard {
  background: var(--card-bg);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid var(--border-color);
  border-radius: 24px;
  padding: 3rem;
  max-width: 700px;
  width: 100%;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--text-primary);
  margin-bottom: 0.5rem;
  text-shadow: 0 0 15px var(--accent-glow);
}

.subtitle {
  color: var(--text-secondary);
  margin-bottom: 2.5rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputField {
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1rem;
  color: var(--text-primary);
  font-size: 1rem;
  font-family: var(--font-main);
  outline: none;
  transition: border-color 0.3s;
}

.inputField:focus {
  border-color: #8E44AD;
}

.submitButton {
  background-color: #8E44AD;
  color: var(--text-primary);
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease; /* Tambahkan transform */
}

.submitButton:hover {
  background-color: #7d3c98;
  transform: translateY(-3px); /* Efek mengangkat */
}